 .App {
  text-align: center; 
  font-family: 'Arial', sans-serif;
}

.App-logo {
  height: 40vmin;
  animation: App-logo-breathe 3s ease-in-out infinite;
  border-radius: 50%; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
#logo{
  border-radius: 50px;
}
.App-intro {
  margin: 20px 0;
  font-size: larger;
  font-weight: bold;
}

.App-header {
  background-image: linear-gradient(to right, #15022a 0%, #0c409a 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #0c409a;
  background-color: #0d0d0d;
  padding: 10px 20px;
  border: 2px solid #0c409a;
  border-radius: 80px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  transition: all 0.3s ease;
}


.App-link:hover, .App-link:focus {
  background-color: #FFFFFF;
  color: #0c409a;

}


@keyframes App-logo-breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
} 

.student-page {
  font-family: Arial, sans-serif;
}

.student-page .navbar {
  background-color: #fff;
  margin-bottom: 40px;
}

.student-page h1, .student-page h2 {
  color: #333;
}

.student-page p {
  color: #666;
}

.course-card-student {
  background-image: linear-gradient(to right, #15022a 0%, #0c409a 100%);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}
.course-card-admin {
  background-image: linear-gradient(to right, #b707b1 0%, #e42c0b 100%);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}
.courseteach-card {
  background-image: linear-gradient(to right, #15022a 0%, purple 100%);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}
.cards{
  padding: 20px;
  margin: 20px 0;
  
}
.course-title h3 {
  color: #fbf8fb;
  margin-bottom: 15px;
}

.button {
  background-color: #3513b9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #004494;
}

.footer {
  background-color: #f8f9fa;
  color: #666;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer span {
  color: #666;
  font-size: 14px;
}
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand {
  font-weight: bold;
  color: #0056b3 !important;
}

.navLink {
  display: flex;
  align-items: center;
  color: #007bff !important;
}

.icon {
  margin-right: 8px;
}

section{
  width:100%;
  align-items: center;
  margin-top:2em;
}
.side-nav{
  width: fit-content;
  height: max-content;
  /*background-color: silver;*/
  border: grey solid;
  border-radius: 3px;
  margin-top: 1em;
  padding: 1em;
  float:inline-start;
  margin-left: 1em;
  position: fixed;
}
.upcoming{
  align-items: center;
  float:inline-end;
  border:grey solid;
  margin-top: 1em;
  margin-right: 1em;
  padding: 2px;
  text-align: right;
  border-radius: 3px;
  
}
.upcoming h3{
  text-align: center;
}
.upcoming li {
  list-style: none;
  border-bottom: black 4px;
  width:10em;
  margin-right: 1em 1em 1em 2em;
  
}
.upcoming li a{
  float: inline-start;
  clear:left;
}
.assignDate{
  float: inline-end;
}

.main{
  margin-top: 1em;
  margin-left: 10em;
  margin-right: 15em;
  width: fit-content;
  text-align: center;
  align-items: center;
  margin-bottom: 2em;
}


.custom-admin-button{
  background-color: rgb(14, 179, 121); /* Change to your desired color */
  border-color: rgb(14, 179, 121);

}.newAssessments{
  margin: 1em 1em;
  float: inline-end;
  flex: content;
}
.newAssessments Button{
  margin: 0.5em;
}
.existingAssignment{
  border-bottom: grey solid 1px;
  margin: 1em;
  text-align: left;
  /* align-items: ; */
  width: 50em;
}

/* .existingAssignment p{
  float: inline-start;
} */

.assignActions{
  display: flexbox;
  justify-content: space-evenly;
  float:inline-end;

} 
.existingAssignment Button{
  margin: 0.2em;
  float: inline-end;
  width: fit-content;
}

.students{
  width: 60em;
  margin:2em;
}
.studentButtons{
  display: flexbox;
  flex-direction: row;
}
#dropdown-basic-button{
  margin: 1em;
}
.overall{
  float:right;
}

.newAssessments{
  margin: 1em 1em;
  float: inline-end;
  flex: content;
}
.newAssessments Button{
  margin: 0.5em;
}
.existingAssignment{
  border-bottom: grey solid 1px;
  margin: 1em;
  text-align: left;
  /* align-items: ; */
  width: 50em;
}

/* .existingAssignment p{
  float: inline-start;
} */

.assignActions{
  display: flexbox;
  justify-content: space-evenly;
  float:inline-end;

} 
.existingAssignment Button{
  margin: 0.2em;
  float: inline-end;
  width: fit-content;
}
.profile-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.profile-title {
  text-align: center;
  color: #333;
}

.profile-info {
  margin: 15px 0;
}

.profile-info p {
  font-size: 16px;
  color: #666;
}

.logout-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #0056b3;
}

#addOption{
  width: fit-content;
  margin-left: 13px;
  margin-top: 2px;
}

